@import '../../variable.scss';

.tableStyle {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8rem;
  thead {
    background-color: $lightSkyBlue;
  }
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    word-break: break-all;
  }
  tr{
      cursor: pointer;
  }
  tr:nth-child(even) {
    background-color: $lightGrey;
  }
  &__link{
      color: $primerySkyBlye;
  }
  &__icon{
      font-size: 0.8rem;
      margin-right: 0.5rem;
  }
  &__header{
    text-transform: capitalize;
  }
}
