@import '../../variable.scss';
.home{
    &__navigation{
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
        &__button{
            width: 7rem;
            padding: 0.2rem;
            border: 1px solid $primerySkyBlye;
            border-radius: 1rem;
            color: $primerySkyBlye;
            background-color: $white;
        }
    }
}